<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Watchlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="bg-body-secondary">
<nav class="navbar navbar-dark bg-dark px-3">
        <h3 class="text-white">Cinema Paradiso</h3>
        <a href="/home" class="btn btn-outline-light">Home</a>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4">🎬 Your Watchlist</h2>

        <table class="table table-striped table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th>Movie Id</th>
                    <th>Movie Name</th>
                    <th>Genre</th>
                    <th>Rating</th>
                    <th>Your Review</th>
                    <th>Reviewed On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="watchlist : ${watchlist}">
                    <td th:text="${watchlist.movie.id}"></td>
                    <td th:text="${watchlist.movie.title}"></td>
                    <td th:text="${watchlist.movie.genre}"></td>
                    <td th:text="${watchlist.movie.rating}"></td>
                    <td th:text="${watchlist.review != null ? watchlist.review.content : 'N/A'}"></td>
                    <td th:text="${watchlist.review != null ? #temporals.format(watchlist.review.createdAt, 'dd-MMM-yyyy') : '-'}"></td>
                    <td>
                        <form th:action="@{/user/{userid}/remove/{movieid}(userid=${watchlist.user.id}, movieid=${watchlist.movie.id})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">
                                <i class="fa fa-trash"></i>
                                </button>
                        </form>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(watchlist)}">
                  <td colspan="7" style="text-align:center;">No movies in your watchlist yet.</td>
                </tr>
            </tbody>
        </table>

        <div class="mb-3 fw-bold">
            Total Movies: <span th:text="${#lists.size(watchlist)}">0</span>
        </div>

        <br>
        <div class="d-flex justify-content-between">
           <a th:href="@{/addtowatchlist/{userid}(userid=${userid})}" class="btn btn-success">
                <i class="fa fa-plus"></i> Add to Watchlist
            </a>
            
        </div>
    </div>
</body>
</html>